body {
    font-family: 'Anton', sans-serif;
    display:flex;
    flex-direction: column;
   align-items: center;
background-color: #323031;
}

header {
    background-color: #540B0E;
    margin: -8px;
    padding: 10px;
    width:100%;
}

#site-title {
    color:#C1BDB3;
}

.heading {
    width: 100%;
    /* background-color: #3D3B3C; */
    /* margin-left:20px; */
    display: flex;
    align-items: center;
    
}

#account {
    position:absolute;
    right: 20px;
    padding:15px;
    background-color: #C1BDB3;
    border-radius: 10px;
}

.logo {
    margin-left:20px;
    background-color: #C1BDB3;
    border-radius: 25%;
    padding:10px;
}

.sub-heading {
    height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3D3B3C;
    margin:10px -10px -10px -10px;
}

.nav-link {
    background-color: #C1BDB3;
    display: inline;
    padding: 10px 10px 10px 10px;
    margin-left: 150px;
    border-radius: 10px;
}

/* ////////////////////////////////////////////////// */

.instructions {
    background-color: #7F7979;
    width:70%;
    margin:10px 15% 10px 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
    font-size: 18px;
    border-radius: 10px;
    
}




#build-pic {
    background-size: 200px;
    /* background-color: blue; */
}

.section-title {
    display: inline;
    padding:10px;
    width:80%;
    margin:20px 10% 10px 10%;
    background-color: #C1BDB3;
    color:black;
    border-radius: 10px;
}

.race-section {
    display: flex;
    align-items: center;
    justify-content: center;
}
.race-option {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin:10px 20px 10px 20px;
    width: 100px;
    height: 100px;
    background-color: #7F7979;
    border-radius: 10px;
}

.race-option:hover{
    cursor: pointer;
    background-color: #540B0E;
}
/* #race-pics{
    width: 70%;
    height: 250px;
    background-color: blueviolet;
    margin: 10px 15% 10px 15%;
} */

/* /////////////////////////////////////////////// */

.class-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#class-blocks {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 250px 10px 250px;
}

.class-option {
    width: 200px;
    height: 150px;
    background-color: #7F7979;
    padding:10px;
    margin: 20px 50px 20px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.class-option:hover {
    background-color: #540B0E;
    cursor:pointer;
}



#backgrounds {
    width:150px;
    height:80px;
    font-size: 20px;
    padding:10px;
}

/* //////////////////////////////////////// */

.get-scores {
    display: flex;
    align-items: center;
    
}

.ability-block {
    width: 60px;
    height: 100px;
    padding:10px;
    background-color: #540B0E;
    margin-top:10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left:100px;
    color:white;
    border-radius: 10px;
}

#dice-roll {
    margin-left:100px;
    height:50px;
    padding:10px;
    font-size: 18px;
}

.att-score {
    width:40px;
    height:25px;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.race-desc {
    width:400px;
    height:800px;
    background-color: #C1BDB3;
    padding:10px;
    margin-left:20px;
    border-radius: 10px;
}

.class-desc {
    width:400px;
    height:800px;
    background-color: #C1BDB3;
    padding:10px;
    margin-left:20px;
    border-radius: 10px;
}

.skills-section {
    background-color: #C1BDB3;
    width:150px;
    /* height:500px; */
    padding:10px;
    margin-left:20px;
    border-radius: 10px;
}

/* ///////////////////////////////////////////////// */

.wrap-up {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 150px 5px 100px;
    width:75%;
}


.select-alignment {
    /* margin-left:10%; */
    background-color: #7F7979;
    width:500px;
    height:700px;
    padding:10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

#alignment {
    width:100px;
    margin-top:10px;
    margin-bottom: 10px;
}

#align-ex {
    width:500px;
}

.spells {
    margin-left:50px;
    background-color: #7F7979;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:400px;
    padding:10px;
    height:700px;
    border-radius: 10px;
}

#char-sheet-container {
    border-style: solid;
    width:400px;
    margin:10px 20px 10px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}
.char-sheet {
    padding:5px;
    border-style: solid;
    width:150px;
    margin:10px;
    display: inline-block;
    border-radius: 10px;
}

textarea{
    resize: none;
}

#proficiencies {
    height: 100px;
}

/* ////////////////////////////////////// */

footer {
    height:100px;
    color:white;
    position: relative;
    bottom:0px;
    width:100%;
    margin: -8px;
    padding: 10px;
    margin-top:50px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* //////////////////////////////////////////// */
/* //////////  Account.html    /////////////// */
/* ////////////////////////////////////////// */

#account-main {
    display: flex; 
    flex-direction: column;
    justify-content: center;
  }

  form {
    width: 350px;
    min-height: 350px;
    background-color: #C1BDB3;
    position: relative;
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center;
    margin: 30px;
    color:black;
  }

  #account-info {
      display: flex;
  }

  .user-card {
    background-color: #C1BDB3;
    font-size: 20px;
    font-weight: 700;
    width: 300px;
    margin: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .character-card {
      background-color: #C1BDB3;
      padding:15px;
      margin-top: 15px;
      border-radius: 15px;
  }

  /* /////////////////////////////////////////// */
  /* ////////////////  home.html  ///////////// */
  /* ///////////////////////////////////////// */

  .homepage-main {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin-left: 100px;
      margin-right: 100px;
  }

  .site-category {
      width: 400px;
      /* height:300px; */
      background-color: #7F7979;
      padding:15px;
      margin: 100px 100px 100px 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 10px;
  }

  .main-feature {
      margin-top:30px;
  }

  #feature-pic {
      background-size: 500px;
      background-color: green;
  }

  .category-pic {
      width: 400px;
  }